body {
    text-align: center;
    padding-top: 800px;

}

.profile {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 50px;
}

#welcome {
    background: linear-gradient(blue 0%, pink 100%);
    width: 100%;
    height: 800px;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

}

.content {
    display: table-cell;
    vertical-align: middle
}

.line {
    width: 70px;
    height: 6px;
    background-color: black;
    margin: auto;


}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;

}

#menu {
    list-style: none;
    position: absolute;
    top:10px;
    z-index: 2;
    right: 30px;
    cursor:pointer;
    
}

.links {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
}
#name {
    font-family: 'Anton', sans-serif;
}